<div class="calculator_container"> 
    
<h1 class="display-1"> MORTGAGE CALCULATOR</h1> 

<p class="calc_info"> This a simple mortgage calculator that provides you with your monthly mortgage payment. Simply enter your mortgage amount and the interest rate. The calculation is based on a 25 year amortization period. </p>

<h2 class="paymt_title"> PAYMENT SCHEDULE </h2>
<br>



<form>
    <div class="form-group">
      <label for="exampleInputMortgageAmount">Mortgage amount</label>
      <input [(ngModel)]="mortgage_amount" name="first_amount" type="number" class="form-control" placeholder="Enter your Mortgage Amount">

    </div>
    <div class="form-group">
      <label for="exampleInputInterestRate">Interest Rate (%)</label>
      <input [(ngModel)]="interest_rate" name="first_interest_rate" type="number" class="form-control"  placeholder="Enter your Interest Rate">
    </div>
    
    <button (click)=calculate_payment() type="Calculate" class="calc_btn">Calculate</button>
  
    <p *ngIf="monthly_payment"> For a ${{mortgage_amount}} mortage amount with an  interest rate of {{interest_rate}}%, the monthly mortgage payment will be ${{monthly_payment}}. </p>
    <!-- ng if -->
    <!-- if monthly_payment exists, show p -->

  </form>


</div>

